[submodule "Werkcollege1"]
    path = "BA2/DotNet-Essentials/Werkcollege1"
    url = "git@ssh.dev.azure.com:v3/ampalm/Werkcollege1/Werkcollege1"
[submodule "ProgrammingProject"]
    path = "BA2/Programming-Project"
    url = "git@github.com:Kajvalk/demo_groep14.git"
[submodule "crypograpy-Fesaa"]
    path = "BA2/Security-Essentials/crypograpy-Fesaa"
    url = "git@github.com:EHB-TI/cryptography-Fesaa.git"
[submodule "BA3/IT-Project/SportNest"]
	path = BA3/IT-Project/SportNest
	url = git@github.com:WoutDepeuter/SportNest.git
[submodule "BA3/ios-development/Stats-Viewer"]
	path = BA3/ios-development/Stats-Viewer
	url = git@github.com:Fesaa/Stats-Viewer.git
