
.thread-preview {
    justify-content: space-between;
    margin-bottom: 1em;
}

.thread-preview-info {
    padding: 1em;
}

.thread-preview-info > img {
    width: 64px;
    height: 64px;
    border-radius: 2em;
}

.thread-preview-info > div {
    justify-content: center;
    margin-left: 1em;
}

.thread-preview-title {
    font-weight: bolder;
    font-size: larger;
    padding-bottom: 5px;
}

.thread-preview-desc {
    font-size: smaller;
}

.limit-chars {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
