* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    background: #efefef;
}

.gallery img {
    display: block;
    max-width: 100%;
}

.gallery ul,
.gallery li {
    margin: 0;
    padding: 0;
}

.gallery ul {
    display: flex;
    flex-wrap: wrap;
}

.gallery li {
    list-style: none;
    flex: 1 0 33%;

    padding: 5px;
    background: #eee;
}
