/*
KLEUREN: 
grijs : #aaaaaa   ->kleur van navigatielinks
rood  : #f0141e

wit   : #ffffff ->kleur van navigatielink met muisover
zwart : #000000


/* TYPOGRAFIE
lettertype : Arial
basisgrootte: 15 pixels
*/

/* BASIS CSS HIER (body, paragrafen, titels, ...) */

body {
  font: Arial;
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.hidden {
  display: hidden; /*????*/
}

/* HEADER & NAVIGATIE */

header {
  color: #aaaaaa;
  background-color: black;
  padding: 0;
  margin: 0;
}

nav {
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-container {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

nav a {
  text-decoration: none;
  color: #aaa;
}

.active {
  color: #f0141e !important;
}

/* INHOUD: FILMS */

h {
  font-size: 80px;
  color: #f0141e;
  text-align: center;
  font-weight: bold;
  padding: 0.5em;
}

.content {
  display: flex;
  flex-direction: column;
}

.movie-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.movie {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 0px;
}

.movie-text, .movie-title, .movie-readmore {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
  margin-right: 2em;
}

.movie-readmore {
  font-weight: bold;
  text-decoration: underline;
}

.first {
  border: 10px solid #f0141e;
  background-color: #f0141e;
}

/* Footer */
footer {
  color: #aaaaaa;
  background-color: black;
  padding: 10px;
  margin: 0;
  text-align: center;
}


/* ################################## */
/* Mediaquery voor schermen vanaf 1024 pixels*/
/* ################################## */
