
.mini-profile {
    padding: 8px 0 0 2px;
    border-bottom: 2px solid var(--little-alpha);
}

.mini-profile > img {
    width: 32px;
    height: 32px;
    border-radius: 75%;
}

.mini-profile-content {
    justify-content: space-evenly;
    margin-left: 10px;
}

.mini-profile-title {
    font-size: small;
}
